@import "common";

html {
  scroll-behavior: smooth;
}


.scrollToTop-btn {
  position: fixed;
  right: 20px;
  bottom: 50px;
  display: flex;
  justify-content: center;
  background: crimson;
  width: 46px;
  height: 45px;
  right: 0;
  bottom: 13px;
  text-align: center;
  line-height: 45px;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 999;
}
.scrollToTop-btn.active {
  right: 20px;
  opacity: 1;
}

.scroll-indicator {
  height: 8px;
  width: calc(100% - 0.1em);
  position: fixed;
  bottom: 0;
  left: 0.1em;
  border-radius: 3px;
  z-index: 999;
}

.scroll-indicator .progress {
  height: 100%;
  width: 0;
  border-radius: 3px;
  /* https://www.grabient.com/ */
  background: -o-linear-gradient(60deg, #21d4fd, #b721ff);
  background: linear-gradient(30deg, #21d4fd, #b721ff);
  -webkit-transition: width 0.1s;
  -o-transition: width 0.1s;
  transition: width 0.1s;
}

nav {
  position: sticky;
  top: 0;
  background: #ededed;
  width: 100%;
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.04);
  z-index: 999;
}
.nav {
  display: flex;
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 2px;
  transition: 1s;
}
.nav .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 21px;
  font-weight: 600;
}
.nav .logo a {
  text-decoration: none;
  list-style: none;
  color: black;
}
.nav ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}
.nav ul li {
  margin: 0 5px;
}
.nav ul li a {
  color: #636772;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  padding: 2px 10px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.nav ul li a.active,
.nav ul li a:hover {
  color: #111;
}
.nav button {
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12.3px;
  line-height: 24px;
  color: #173a56;
  padding: 5px 15px;
  border: none;
  cursor: pointer;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  transition: 0.5s;
}
.nav button:hover {
  background: #02897a;
  border-radius: 4px;
  color: white;
}
.nav .menu-btn i {
  color: black;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"] {
  display: none;
}

@media (max-width: 920px) {
  .nav .menu-btn i {
    display: block;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
.nav{
  padding: 0px 10px;
}
  .nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul {
    left: 0;
  }
  .nav ul li {
    width: 100%;
    margin: 40px 0;
  }
  .nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a {
    margin-left: 0px;
  }
  .nav ul li a.active,
  .nav ul li a:hover {
    background: none;
    color: cyan;
  }
}
// .navbar-shrink {
//   padding: 3px;
// }
#dark-light{
    border: none;
    background: none;
  }

.sec1 {
  background: linear-gradient(
    179.59deg,
    #ededed 0.35%,
    rgba(255, 255, 255, 0.0001) 99.63%
  );
  padding-top: 50px;
  padding-bottom: 15px;
  .fle {
    padding: 0px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .text {
      width: 55%;
      .btn-f {
        display: flex;
        gap: 20px;
        button:first-child {
          color: white;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 12.3px;
          line-height: 24px;
          padding: 8px 15px;
          border: none;
          cursor: pointer;
          background: #02897a;
          border: 1px solid #bcd0e5;
          border-radius: 4px;
          transition: 0.5s;
        }
        button:hover:first-child {
          background: white;
          border-radius: 4px;
          color: #173a56;
        }
      }
      h2 {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 60px;
        color: #22343d;
      }
      p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #22343d;
      }
    }
    img {
      width: 90%;
    }
  }
  h1 {
    margin-top: 45px;
    text-align: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #22343d;
  }
}

.sec2 {
  background-image: url(../img/Bg.png);
  width: 100%;
  padding-top: 30px 0;
  padding-bottom: 95px;
  background-size: 100% 95%;

  .all {
    padding: 0 20px;
    .flex {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      .card {
        margin-top: 40px;
        width: 25%;
      }
    }
    .btn-f {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      button {
        color: white;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 12.3px;
        line-height: 24px;
        padding: 8px 15px;
        border: none;
        cursor: pointer;
        background: #02897a;
        border: 1px solid #bcd0e5;
        border-radius: 4px;
        transition: 0.5s;
        text-align: center;
      }
      button:hover {
        background: white;
        border-radius: 4px;
        color: #173a56;
      }
    }
  }
}

.sec3 {
  .flexx {
    padding: 160px 19px;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 48px;
      color: #22343d;
    }
  }
}

.sec33 {
  .flexx {
    padding: 10px 19px;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 48px;
      color: #22343d;
    }
  }
}

.sec4 {
  background-image: url(../img/Bg-tep.png);
  width: 100%;
  background-size: 100% 100%;
  padding-top: 40px;
  .flx {
    padding: 0 30px;
    .tx {
      width: 50%;
      margin: auto;
      text-align: center;
    }
    .yon-fl1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 90%;
      margin: auto;
      padding-bottom: 15px;
      .yon {
        display: flex;
        align-items: center;
        gap: 20px;
      }
    }
  }
}

.sec5 {
  background: linear-gradient(
    179.59deg,
    #fafafac2 0.35%,
    rgba(255, 255, 255, 0.0001) 99.63%
  );
  width: 100%;
  .btn {
    text-align: center;
    button {
      color: white;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 12.3px;
      line-height: 24px;
      padding: 8px 15px;
      border: none;
      cursor: pointer;
      background: #02897a;
      border: 1px solid #bcd0e5;
      border-radius: 4px;
      transition: 0.5s;
      text-align: center;
    }
    button:hover {
      background: white;
      border-radius: 4px;
      color: #173a56;
    }
  }
  .tx {
    padding: 5px 16px;
    h1 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 51px;
      color: #22343d;
    }
  }

  #owl-carousel {
    padding: 20px 20px;
  }

  .owl-carousel-1 {
    position: relative;
    padding: 10px 14px;
  }

  .owl-carousel-1 .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 20px 7px;
    border-radius: 30px;
    transition: all 0.2s ease;
    background-color: #bab9b9;
  }

  .owl-carousel-1 .owl-dots .owl-dot.active span {
    width: 50px;
    background-color: #3858d6;
  }

  .owl-carousel-1 .owl-nav {
    display: none;
  }

  .card2 {
    border: 1px solid #e6e5e5;
    background: #ffffff;
    width: 100%;
    border-radius: 6px;
    position: relative;
    cursor: pointer;
    transition: all 0.5 ease;
    overflow: hidden;
  }

  .card2 .im {
    position: absolute;
    top: -166px;
    right: -166px;
    transition: all 0.6s ease-in-out;
  }

  .box {
    color: white;
    text-align: left;
  }
  .box img {
    width: 100%;
  }
  .box p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #22343d;
  }

  .box h3 {
    color: black;
    font-weight: 500;
    font-size: 15px;
    padding-bottom: 20px;
  }

  .card2::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background-color: crimson;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 6px;
    transition: 0.9s ease;
  }

  .card2:hover {
    background-color: transparent;
  }

  .card2:hover::before {
    width: 100%;
  }

  .card2:hover h3 {
    color: white;
  }

  .card2:hover p {
    color: white;
  }

  .card2:hover .im {
    top: 3;
    right: 0;
  }

  .flexx {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .flexx img .imm {
    width: 1px;
  }
}

.sec6 {
  padding: 40px;
  .tx {
    text-align: center;
  }
  .flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 60px 5px;
    .card {
      position: relative;
      background: #f6f6f6;
      overflow: hidden;
      width: 96%;
      margin: auto;
      border-radius: 13px;
      margin-bottom: 20px;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: calc(-100% + 3px);
        width: 100%;
        height: 100%;
        background: #00a0c1;
        z-index: 1;
        -webkit-transition: 0.9s;
        -o-transition: 0.9s;
        transition: 0.9s;
      }
      &:hover:before {
        bottom: 0;
      }
      .content2 {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        position: relative;
        color: black;
        z-index: 2;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        text-align: center;
        padding: 20px 10px;
        button {
          background: #02897a;
          border-radius: 8px;
          color: white;
          padding: 10px 25px;
          transition: 0.7s;
          border: 2px solid #02897a;
        }
      }
    }
    .card:hover .content2 {
      color: white;
    }
    .card:hover button {
      background: white;
      border-radius: 8px;
      color: black;
      border: 2px solid white;
      padding: 10px 25px;
    }
  }
}

.sec7 {
  #owl-carousel {
    padding: 70px 20px;
  }

  .owl-carousel-1 {
    position: relative;
    padding: 0px 10px;
  }

  .owl-carousel-1 .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 9px 7px;
    border-radius: 30px;
    transition: all 0.2s ease;
    background-color: #bab9b9;
  }

  .owl-carousel-1 .owl-dots .owl-dot.active span {
    width: 50px;
    background-color: #3858d6;
  }

  .owl-carousel-1 .owl-nav {
    display: none;
  }
  .card2 {
    border: 1px solid #e6e5e5;
    background: #ffffff;
    width: 100%;
    border-radius: 6px;
    position: relative;
    cursor: pointer;
    transition: all 0.5 ease;
    overflow: hidden;
    padding: 20px 20px;
  }

  .card2 .im {
    position: absolute;
    top: -166px;
    right: -166px;
    transition: all 0.6s ease-in-out;
  }

  .box {
    color: white;
    text-align: left;
  }
  .box img {
    width: 100%;
  }
  .box p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #22343d;
    padding-bottom: 15px;
  }

  .box h3 {
    color: black;
    font-weight: 500;
    font-size: 15px;
    padding-bottom: 20px;
  }

  .card2::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background-color: crimson;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 6px;
    transition: 0.9s ease;
  }

  .card2:hover {
    background-color: transparent;
  }

  .card2:hover::before {
    width: 100%;
  }

  .card2:hover h3 {
    color: white;
  }

  .card2:hover p {
    color: white;
  }

  .card2:hover .im {
    top: 3;
    right: 0;
  }

  .flexx {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .flexx img .imm {
    width: 10px;
  }
}

.section4 {
  background: #02897a;
  border-radius: 32px;
  width: 97%;
  margin-bottom: 50px;
  .Grid3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 45px;
    h1 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 44px;
      line-height: 44px;
      color: white;
    }
    p {
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 19px;
      color: white;
    }
    button {
      background: #ffffff;
      border-radius: 8px;
      padding: 7px 20px;
      cursor: pointer;
      border: none;
    }
    img {
      width: 100%;
    }
  }
}


.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  padding: 0px 18px;
}
ul {
  list-style: none;
}
.footer {
  background-color: white;
  padding: 70px 0;
}
.footer-col {
  width: 100%;
}
.col1 {
  width: 100%;
  padding: 0 5px;
}
.footer-col h4 {
  font-size: 18px;
  color: #22343d;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #22343d;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #22343d;
  padding-left: 8px;
}
.footer-col .social-links {
  display: flex;
}
.footer-col input {
  padding: 5px 10px;
  width: 100%;
  outline: none;
  background: #ffffff;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
}
input::placeholder {
  color: white;
}
.footer-col button {
  background: #02897a;
  border-radius: 4px;
  border-radius: 4px;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #02897a;
  margin-top: 20px;
  transition: 0.6s;
  &:hover {
    background-color: white;
    color: black;
  }
}

/*responsive*/
@media (max-width: 957px) {
  .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .col1 {
    width: 100%;
    padding: 0 5px;
  }

  .sec2 {
  .all {
    padding: 0 20px;
    .flex {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
      gap: 10px;
      .card {
        width: 90%;
      }
    }
  }
}
.sec3 {
  .flexx {
    padding: 160px 19px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-size: 32px;
    }
    img{
      width: 100%;
    }
  }
}
.sec33 {
  .flexx {
    padding: 10px 19px;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    gap: 50px;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 30px;
    }
    .m{
      width: 100%;
    }
  }
}
.sec4 {

  .flx {
    padding: 0 30px;
    .tx {
      width: 60%;
      margin: auto;
      text-align: center;
    }
    .yon-fl1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 90%;
      margin: auto;
      padding-bottom: 15px;
      .yon {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
        img{
          padding-top: 40px;
        }
        p{
          margin-top: 40px;
        }
      }
    }
  }
}
.sec6 {
  padding: 40px;
  .tx {
    text-align: center;
  }
  .flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 60px 5px;
    .card {
      position: relative;
      width: 100%;
      border-radius: 13px;
      margin-bottom: 20px;
    }
  }
}
}
@media (max-width: 767px) {
  .sec1 {
  .fle {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    .text {
      width: 95%;
      .btn-f {
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
      }
      h2 {
        font-size: 35px;
        line-height: 50px;
      }
    }
  }
  h1 {
    font-size: 28px;
  }
}
.sec6 {
  padding: 10px;
  .tx {
    text-align: center;
  }
  .flex {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 60px 5px;
    .card {
      position: relative;
      width: 100%;
      border-radius: 13px;
      margin-bottom: 20px;
    }
  }
}
.section4 {
  background: #02897a;
  border-radius: 32px;
  width: 95%;
  margin-bottom: 50px;
  .Grid3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 25px 30px;
    h1 {
      font-size: 33px;
      line-height: 40px;
    }
  }
}

}
@media (max-width: 650px) {
  .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }
}
@media (max-width: 500px) {
  .row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
    text-align: center;
  }
  .footer-col .social-links {
    display: flex;
    justify-content: center;
  }
  .footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
  }
  .footer-col .a{
    display: none;
  }
}
